@charset "UTF-8";

.pull-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination{
	display: flex !important;
}

.category-link{
	cursor: pointer;
}

.col-xs-4{
	display:flex;
	justify-content: flex-end;
}

.board_type{
	width: 150px !important;
	margin-right: 10px;
}