@charset "UTF-8";
@media (min-width: 992px){
	.col-xl-3 {
	    flex: 0 0 auto;
	    width: 25%;
	}
}
.pull-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

 .pagination {
    display: flex;
    justify-content: center;
}
.btnMid:hover {
    color: black !important;
}

.btnMid{
	margin-left:auto;
	color: #ffffff;
    margin-top: 2%;
    text-transform: uppercase;
   	margin-bottom: 8%;
   	background-color: #81c408;
   	border-radius: 10px;
}

.category-link{
	cursor: pointer;
}

.col-xs-4{
	display:flex;
	justify-content: flex-end;
}


.pagingBtn{
	width:100px; 
	
}
.btnRight:hover {
    color: black !important;
}

.btnRight{
	margin-left:auto;
	color: #ffffff;
    margin-top: 2%;
    text-transform: uppercase;
   	float : right;
   	margin-bottom: 8%;
   	background-color: #81c408;
   	border-radius: 10px;
}

.btnLeft{
	margin-right:auto
}

.comment_register{
	display: flex;
    height: 80px;
}

.addCommentBtn{
	height: 100%;
	width: 120px;
	border: 1px solid #959292ad;
    background-color: #81c408;
    color: white;
}

.commentCon{
	height:100%;
	width:100%;
	overflow:auto;
	resize: none;
	border: 1px solid #a7a7a7;
}

/* board.css */

/* 댓글 부분 스타일 */
#commentRap {
    margin-top: 30px;
}

#commentList {
    margin-top: 20px;
}

.comment {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
.commentConT{
	overflow: auto;
    resize: none;
    width: -webkit-fill-available;
    border: 1px solid #a7a7a7;
    margin-top: 4px;
}
.comment p {
    margin: 0;
}

.commentNick {
	height:100%;
	width:120px;
	display: flex;
    font-weight: bold;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid #a7a7a7;
}


/* 예시: 댓글 목록 스타일 */
.commentList {
    list-style-type: none;
    padding: 0;
}

.commentListItem {
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

.commentAuthor {
    font-weight: bold;
}

.commentDate {
    font-style: italic;
}

.comRap{
	display: flex;
}

#modCommentComplete{
	margin: 0 0 0 auto;
}
.conMargin{
	margin-top: 35px;
    border-top: 1px solid #81c408;
}
.mod_form-control{
	background-color: white !important;
    border: none;

}
.rapTWD{
	display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dfdfdf;
    height: 65px;
}
.rapWD{
	display: flex;
}
.rapWD input{
	direction: rtl;
}
.BDate{
	text-wrap: nowrap;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 0;
}
    
.BTitle{
	font-weight: bolder;
    font-size: larger;
    height: 100%;
    pointer-events: none;
}
.BTitleWidth{
	width: -webkit-fill-available;
}
.BNick{
	pointer-events: none;
}
.rapCI{
	padding-top: 20px;
}
.rapI img{
	max-width: 500px;
	max-height: 500px;
}
.modForm button{
	float: right;
	margin: 2px;
}
#modComment, #modCommentComplete{
	margin: 0 0 0 auto;
    border-radius: 6px;
    border: 1px solid #d1d1d1;
    background-color: #81c408;
    color: white;
}
#modComment:hover, #modCommentComplete:hover {
    color: black;
}
#delComment, #modCancel{
	margin-left:5px;
    border-radius: 6px;
    border: 1px solid #d1d1d1;
    background-color: #81c408;
    color: white;
}
#delComment:hover, #modCancel:hover {
    color: black !important;
}
.btnBox{
	text-align: center;
}
#titleLink{
	font-weight: bold;
    color: #757575;
}
.typeRap{
	height: 64px;
}