*{
	list-style: none;
}

ul{
	margin:0;
	padding:0;
	display: flex;
	flex-wrap: wrap;
}
.eduLi{
	width: 25%;
	height: 300px;
	padding: 11px;
}
.eduLi a{
    display: block;
    height: 100%;
    border: 1px solid rgba(0,0,0,.1);
}
.eduConBox{
	height: 160px;
}

.eduImg{
	width: 100%;
    height: 100%;
}
.conRap{
	padding: 15px;
    height: 118px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.conRap strong{
	margin-bottom: 5px;
	color: #333;
}
.conRap span{
	display: flex;
    justify-content: space-between;
}
.conRap span em{
	color:#8e8e8e;
}
.material-icons{
	font-size: 18px;
    position: relative;
    top: 3px;
    margin-right: 2px;	
}
.pagination {
    display: flex;
    justify-content: center;
}
.pagination a.active {
    background-color: #81c408;
    color: #f4f6f8;
    border: 1px solid #ffb524;
}
.pagination a {
    color: #45595b;
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid #ffb524;
    margin: 0 4px;
}
.pagination a:hover{
	background-color: #81c408 !important;
}