<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.farmworld.farm.mapper.GrowUpMapper">
	<sql id="growupColumns">
		grow_num, grow_title, grow_content, grow_date, farm_num,
		user_num,
		image_folder_num, growup_category
	</sql>

	<insert id="insert" parameterType="GrowUpVO">
		insert into GrowUp
		(grow_title, grow_content, growup_category, farm_num, user_num,
		image_folder_num)
		values (#{grow_title}, #{grow_content},
		#{growup_category}, #{farm_num}, #{user_num}, #{image_folder_num})
	</insert>

	<insert id="insertSelectBno" parameterType="GrowUpVO"
		keyColumn="grow_num" keyProperty="grow_num" useGeneratedKeys="true">
		insert
		into GrowUp
		(grow_title, grow_content)
		values (#{grow_title},
		#{grow_content})
	</insert>

	<select id="selectAll" resultType="GrowUpVO"
		parameterType="Integer">
		select * from GrowUp WHERE farm_num = #{farm_num}
	</select>

	<select id="getListWithSearch" resultType="GrowUpVO"
		parameterType="com.farmworld.all.domain.Criteria">
		SELECT f.*, i.image1
		FROM myfarm f
		LEFT JOIN image i ON
		f.image_folder_num = i.image_folder_num
		<if
			test="type != null and type != '' and keyword != null and keyword != ''">
			<where>
				AND ${type} LIKE CONCAT('%',#{keyword},'%')
			</where>
		</if>
		ORDER BY bno DESC
	</select>

	<update id="update" parameterType="GrowUpVO">
		UPDATE growUp
		SET grow_title =
		#{grow_title},
		growup_category = #{growup_category},
		grow_content =
		#{grow_content}
		WHERE grow_num = #{grow_num}
	</update>

	<delete id="delete" parameterType="GrowUpVO">
		DELETE FROM GrowUp WHERE
		grow_num =
		#{grow_num}
	</delete>

	<select id="select" resultType="GrowUpVO"
		parameterType="GrowUpVO">
		SELECT grow_num, grow_title, grow_content, grow_date,
		farm_num, user_num, image_folder_num, growup_category
		FROM GrowUp WHERE
		grow_num = #{grow_num}
	</select>

	<select id="getTotalCount" resultType="int"
		parameterType="com.farmworld.all.domain.GrowCriteria">
		SELECT COUNT(grow_num) FROM GrowUp WHERE farm_num = #{farm_num}
		<if test="growup_category != null and growup_category !=''">
		AND growup_category = #{growup_category}
		</if>

	</select>

		<update id="Alter1">
		ALTER TABLE growup DROP FOREIGN KEY growup_ibfk_1;
		</update>
				<update id="Alter2">
		ALTER TABLE growup DROP FOREIGN KEY growup_ibfk_2;
		</update>


	<select id="getListWithPaging" resultType="GrowUpVO"
		parameterType="com.farmworld.all.domain.GrowCriteria">
		SELECT g.*, i.image1, i.image2, i.image3
		FROM growup g
		LEFT JOIN image i ON g.image_folder_num = i.image_folder_num
		WHERE farm_num = #{farm_num}
		<if test="growup_category != null and growup_category !=''">
		AND growup_category = #{growup_category}
		</if>
		ORDER BY grow_date DESC
		LIMIT #{start},
		#{amount}
	</select>
	
	<select id="getCategory" resultType="GrowUpVO"
		parameterType="com.farmworld.all.domain.GrowCriteria">
		SELECT DISTINCT growup_category FROM growup WHERE farm_num = #{farm_num};
	</select>

</mapper>
	