<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.farmworld.farm.mapper.MyFarmMapper">
	<sql id="myfarmColumns">
    farm_num, farm_name, farm_intro, user_num, image_folder_num, myfarm_view
	</sql>

	<insert id="insert" parameterType="MyFarmVO">
		insert into myfarm(farm_name,farm_intro,user_num,image_folder_num) values
		(#{farm_name}, #{farm_intro}, 1, 1)
	</insert>

	<insert id="insertSelectBno" parameterType="MyFarmVO"
		keyColumn="farm_num" keyProperty="farm_num" useGeneratedKeys="true">
		insert into myfarm
		(farm_name, farm_intro)
		values (#{farm_name}, #{farm_intro})
	</insert>

	<select id="selectAll" resultType="MyFarmVO">
		select * from myfarm
	</select>


	<update id="update" parameterType="MyFarmVO">
		UPDATE myfarm
		SET farm_name =
		#{farm_name},
		farm_intro = #{farm_intro}
		WHERE farm_num = #{farm_num}
	</update>
	
	<update id="viewCount" parameterType="MyFarmVO">
		UPDATE myfarm
		SET farm_view = +1
		WHERE farm_num = #{farm_num}
	</update>

	<delete id="delete" parameterType="MyFarmVO">
		DELETE FROM myfarm WHERE farm_num =
		#{farm_num}
	</delete>

	<select id="select" resultType="MyFarmVO" parameterType="MyFarmVO">
		SELECT *
		FROM myfarm WHERE farm_num = #{farm_num}
	</select>

	<select id="getTotalCount" resultType="int" parameterType="com.farmworld.all.domain.Criteria">
		SELECT COUNT(farm_num) FROM myfarm
				<if test="type != null and type != '' and keyword != null and keyword != ''">
			<where>
				<choose>
					<when test="type == 'TW'">
						AND farm_name LIKE CONCAT('%',#{keyword},'%') OR 
						user_num LIKE CONCAT('%',#{keyword},'%')
					</when>
					
					<when test='type == "T"'>
						AND farm_name LIKE CONCAT('%',#{keyword},'%') 
					</when>

					<when test='type == "W"'>
						AND user_num LIKE CONCAT('%',#{keyword},'%') 
					</when>
				</choose>
			</where>
		</if>
		
	</select>


	<select id="getListWithPaging" resultType="MyFarmVO"
		parameterType="com.farmworld.all.domain.Criteria">
		SELECT * FROM myfarm
		<if test="type != null and type != '' and keyword != null and keyword != ''">
			<where>
				<choose>
					<when test="type == 'TW'">
						AND farm_name LIKE CONCAT('%',#{keyword},'%') OR 
						user_num LIKE CONCAT('%',#{keyword},'%')
					</when>
					<otherwise>
						AND ${type} LIKE CONCAT('%',#{keyword},'%')
					</otherwise>
				</choose>
			</where>
		</if>
		ORDER BY myfarm_view DESC
		LIMIT #{start}, #{amount}
	</select>

</mapper>
	